extends base.pug
include mixins/ex01f.pug

block title 
   
block content
    div#container_ex01
        h3 Experiment_01
        div#photoList_wrapper
            div#photoItemBox
                div Old
                div#photoList_ex01
                    for photo in oldList 
                        +ex01f(photo)
                    for photo in oldList2 
                        +ex01f(photo)
                div 
            div#photoItemBox
                div New
                div#photoList_ex01
                    for photo in newList 
                        +ex01f(photo)
                    for photo in newList2 
                        +ex01f(photo)
        
    
block script    
    script(src="../client/js/home.js") 