extends base.pug
include mixins/ex01f.pug

block title 
    h3 Experiment_01
block content
    div#photoList_ex01
        for photo in maleList 
            +ex01f(photo)
    div#photoList_ex01
        for photo in femaleList 
            +ex01f(photo)
    div#photoList_ex01
        for photo in maleList 
            +ex01f(photo)
    
block script    
    script(src="../client/js/home.js") 