extends base.pug
include mixins/photo.pug

block title 
    h3 Photo_Dain
block content
    div#photoList
        for photo in photos 
            +photo(photo)
block script    
    script(src="../client/js/home.js") 